@import '_header';
@import '_nullstyle';
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,900;1,14..32,900&display=swap');
body{
	font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-size: 24px;
  line-height: 1.3;
}
button{
	background-color: transparent;
}
.header {
	background: url('/UrusPractice/img/header/background2.jpg');
	background-size: cover ;
	min-height: 100vh;
	background-position: center;
	padding: 50px 50px 0 50px;
	&__top {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__content {
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		height: calc(100vh - 135px);
	}
}

.container {
	max-width: 1840px;
	padding: 0 10px;
	margin: 0 auto;
}
.logo {

	&__img {
	}
}
.menu {
	&__btn {
		width: 70px;
		height: 23px;
		display: flex;
		justify-content: space-between;
		flex-direction: column;
	}
}

.menu__btn span{
	background-color: #FF5017;
	width: 100%;
	height: 3px;
}
.tittle {
font-size: 345px;
background: linear-gradient(180deg, #000000 0%, #830B02 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
padding: 0 0 0 150px;
line-height: 0.8;
}
.header-image {
	position: absolute;
	left: 0;
	right: 0;
	top: 50px;
	bottom: 0;
	margin: auto;
}
.subtitle {
font-size: 160px;
background: linear-gradient(90deg, #FF5017 0%, #000000 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;
align-self: flex-end;
padding: 0 75px 50px 0;
}


.info {
	padding: 170px 0 170px 0;
	background-color: #F8F8F8;
	color: #13171C;
	&__title {
		text-align: center;
	font-size: 160px;
	line-height: 194px;
	text-transform: uppercase;
	}

	&__image {
		max-width: 100%;
		margin: 0 auto;
	}

	&__content {
		display: flex;
		margin: 0px 0 170px 0;
		padding: 0 100px 0 150px;
		gap: 94px;
	}
	&__gallery{
	}
}
.container {
}
.info-list {
font-size: 24px;
line-height: 29px;
text-transform: uppercase;
color: #13171C;
column-count: 2;
gap: 140px;
}

.info-list dd{
	display: inline-block;
}
.info-list dt{
	display: inline-block;
}

.info__list-line{
	margin: 0 0 22px 0;
}
.order-box {
}
.price {
font-size: 46px;
line-height: 56px;
text-transform: uppercase;
margin: 0 0 40px 0;
}
.order {
padding: 30px 58px 30px 58px;
font-family: 'Inter';
font-style: normal;
font-weight: 900;
font-size: 24px;
line-height: 29px;
background: linear-gradient(181.77deg, #FF5017 2.24%, #FF6837 99.25%);
}

.gallery {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	gap: 0 20px;
	border-radius: 20px;
	&__item {
		max-width: 100%;
	}
}


.color {

	&__text {
		text-align: center;
		margin: 0 auto;
		display: block;
		line-height: 194px;
		text-transform: uppercase;
		color: #13171C;
		text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
		font-size: 160px;
		line-height: 194px;
	}
	&__gallery {

	}

	&__gallery-start {
	}

	&__gallery-box {
		display: flex;
		padding: 170px 50px 170px 50px;
		gap: 20px;
		justify-content: center;
		background-color: #13171C;
	}
	&__gallery-end {
	}
}
.gallery-box {
	&__item {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 20px;

	}

	&__item 	img{
		border-radius: 20px;
	}


	&__item 	p{
		font-size: 36px;
		line-height: 44px;
		text-transform: uppercase;
		color: #FFFFFF;
	}


}


 .color__gallery img{
 	width: 100%;
 }

 
 .footer {
	color: #FFFFFF;
	background-color: #13171C;
	&__container {
		max-width: 1360px;
		margin: 0 auto;
	}

	&__header {
	font-size: 36px;
	line-height: 40px;
	text-transform: uppercase;
	color: #FF5017;
	text-align: center;
	padding: 170px 0 52px 0;
	}
	&__content {
		display: flex;
		justify-content: center;
		gap: 203px;
	}

	&__content-info {

	}

	&__content-contacts {
	}

	&__politic {
	padding: 114px 0 87px 0;
	font-size: 14px;
	line-height: 17px;
	text-align: center;
	}
}

a{
	color: #FFFFFF;
}

.contacts input{
		background-color: #13171C;
	font-size: 24px;
	line-height: 29px;
	text-transform: uppercase;
	color: #FFFFFF;
}
.content-info {
	&__extra-services {
		margin: 0 0 29px 0;
		max-width: 563px;
	}

	&__connection {
		max-width: 477px;
font-size: 24px;
line-height: 32px;
margin: 0 0 77px 0;
	}

	&__caution {
	font-size: 14px;
	line-height: 17px;
	max-width: 329px;
	}
}
.extra-services {
	font-size: 24px;
	line-height: 29px;
	text-transform: uppercase;
	color: #BCBCBC;
	&__insurance {
		margin: 0 0 20px 0;
	}

	&__driver {
	}
}
.connection {

	&__info {
		margin: 0 0 20px 0;
	}

	&__number {
	}
}
.contacts {
	max-width: 594px;
	&__name {
		border-bottom: 1px solid #FFFFFF;
		margin: 0 0 20px 0;
	}

	&__number {
		border-bottom: 1px solid #FFFFFF;
		margin: 0 0 20px 0;
	}

	&__city {
		border-bottom: 1px solid #FFFFFF;
		margin: 0 0 36px 0;
	}

	&__price {
	font-size: 36px;
	line-height: 44px;
	text-transform: uppercase;
	margin: 0 0 40px 0;
	}

	&__order {
		padding: 30px 186px;
		background: linear-gradient(181.77deg, #FF5017 2.24%, #FF6837 99.25%);
	}
}

.contacts__order button{
font-family: 'Inter';
font-style: normal;
font-weight: 900;
font-size: 24px;
line-height: 29px;
text-transform: uppercase;

color: #11171C;


}