@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,900;1,14..32,900&display=swap");
header {
  font-size: 25px;
}

/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/**
  Нормализация блочной модели
 */
*,
::before,
::after {
  box-sizing: border-box;
}

/**
Убираем внутренние отступы слева тегам списков,
у которых есть атрибут class
 */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
Убираем внешние отступы body и двум другим тегам,
у которых есть атрибут class
 */
body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

/**
Убираем внешние отступы вертикали нужным тегам,
у которых есть атрибут class
 */
:where(h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

/**
Убираем стандартный маркер маркированному списку,
у которого есть атрибут class
 */
:where(ul[class]) {
  list-style: none;
}

:where(address[class]) {
  font-style: normal;
}

/**
Обнуляем вертикальные внешние отступы параграфа,
объявляем локальную переменную для внешнего отступа вниз,
чтобы избежать взаимодействие с более сложным селектором
 */
p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

/**
Внешний отступ вниз для параграфа без атрибута class,
который расположен не последним среди своих соседних элементов
 */
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

/**
Упрощаем работу с изображениями
 */
img {
  display: block;
  max-width: 100%;
}

/**
Наследуем свойства шрифт для полей ввода
 */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  height: 100%;
}

/**
Плавный скролл
 */
html,
:has(:target) {
  scroll-behavior: smooth;
}

body {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  min-height: 100%;
  /**
    Унифицированный интерлиньяж
   */
  line-height: 1.5;
}

/**
Приводим к единому цвету svg-элементы
 */
svg *[fill] {
  fill: currentColor;
}

svg *[stroke] {
  stroke: currentColor;
}

/**
Чиним баг задержки смены цвета при взаимодействии с svg-элементами
 */
svg * {
  transition-property: fill, stroke;
}

/**
Удаляем все анимации и переходы для людей,
которые предпочитают их не использовать
 */
@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/*--------------------*/
body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-size: 24px;
  line-height: 1.3;
}

button {
  background-color: transparent;
}

.header {
  background: url("/UrusPractice/img/header/background2.jpg");
  background-size: cover;
  min-height: 100vh;
  background-position: center;
  padding: 50px 50px 0 50px;
}
.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100vh - 135px);
}

.container {
  max-width: 1840px;
  padding: 0 10px;
  margin: 0 auto;
}

.menu__btn {
  width: 70px;
  height: 23px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.menu__btn span {
  background-color: #FF5017;
  width: 100%;
  height: 3px;
}

.tittle {
  font-size: 345px;
  background: linear-gradient(180deg, #000000 0%, #830B02 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 0 0 0 150px;
  line-height: 0.8;
}

.header-image {
  position: absolute;
  left: 0;
  right: 0;
  top: 50px;
  bottom: 0;
  margin: auto;
  max-width: 100%;
}

.subtitle {
  font-size: 160px;
  background: linear-gradient(90deg, #FF5017 0%, #000000 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  align-self: flex-end;
  padding: 0 75px 50px 0;
}

.info {
  padding: 170px 0 170px 0;
  background-color: #F8F8F8;
  color: #13171C;
}
.info__title {
  text-align: center;
  font-size: 160px;
  line-height: 194px;
  text-transform: uppercase;
}
.info__image {
  max-width: 100%;
  margin: 0 auto;
}
.info__content {
  display: flex;
  margin: 0px 0 170px 0;
  padding: 0 100px 0 150px;
  gap: 94px;
}
.info__gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px 20px;
  border-radius: 20px;
}

.info-list {
  font-size: 24px;
  line-height: 29px;
  text-transform: uppercase;
  color: #13171C;
  -moz-column-count: 2;
       column-count: 2;
  gap: 140px;
}

.info-list dd {
  display: inline-block;
}

.info-list dt {
  display: inline-block;
}

.info__list-line {
  margin: 0 0 22px 0;
}

.price {
  font-size: 46px;
  line-height: 56px;
  text-transform: uppercase;
  margin: 0 0 40px 0;
}

.order {
  padding: 30px 58px 30px 58px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  background: linear-gradient(181.77deg, #FF5017 2.24%, #FF6837 99.25%);
}

.color__text {
  text-align: center;
  margin: 0 auto;
  display: block;
  line-height: 194px;
  text-transform: uppercase;
  color: #13171C;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 160px;
  line-height: 194px;
}
.color__gallery-box {
  display: flex;
  padding: 170px 50px 170px 50px;
  gap: 20px;
  justify-content: space-between;
  background-color: #13171C;
}
.gallery-box__item {
  text-align: center;
  justify-content: center;
}
.gallery-box__item img {
  max-width: 100%;
  border-radius: 30px;
  margin: 0 0 20px 0;
}
.gallery-box__item p {
  font-size: 36px;
  line-height: 44px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.color__gallery-start img {
  width: 100%;
  margin: 0 auto;
}

.color__gallery-end img {
  width: 100%;
  margin: 0 auto;
}

.contacts {
  padding: 100px 0 0px 0;
  background-color: #13171C;
}
.contacts__title {
  text-align: center;
  font-size: 36px;
  line-height: 40px;
  text-transform: uppercase;
  color: #FF5017;
  margin: 0 0 70px 0;
}
.contacts__box {
  display: flex;
  gap: 40px 200px;
  justify-content: space-between;
  padding: 0 150px 0 300px;
}
.contacts__info {
  max-width: 565px;
}
.contacts__headtext {
  font-size: 24px;
  line-height: 29px;
  text-transform: uppercase;
  color: #BCBCBC;
  margin: 0 0 20px 0;
}
.contacts__text {
  margin: 30px 0 20px 0;
  font-size: 24px;
  line-height: 32px;
  color: #FFFFFF;
}
.contacts__phone {
  font-size: 24px;
  line-height: 29px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.contacts__text-rules {
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  margin: 78px 0 114px 0;
  max-width: 330px;
}
.form {
  flex-basis: 594px;
}
.form__order {
  padding: 30px 186px;
  text-transform: uppercase;
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  text-transform: uppercase;
  color: #11171C;
  background: linear-gradient(181.77deg, #FF5017 2.24%, #FF6837 99.25%);
}
.form__price {
  margin: 36px 0 40px 0;
  font-size: 36px;
  line-height: 44px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.form__input {
  padding: 10px;
  font-size: 24px;
  display: block;
  width: 100%;
  margin: 0 0 20px;
  max-width: 594px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: transparent;
  bottom: none;
  border-bottom: 1px solid #ffffff;
}
.form__input::-moz-placeholder {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.form__input::placeholder {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.footer {
  padding: 0 0 90px 0;
  background-color: #13171C;
  text-align: center;
}
.footer__link {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
}

@media (max-width: 1600px) {
  .contacts__box {
    padding-left: 150px;
  }
}
@media (max-width: 1200px) {
  .info__gallery {
    grid-template-columns: repeat(2, 1fr);
  }
  .tittle {
    padding: 0 0 0 0;
    font-size: 278px;
  }
  .header-image {
    top: 0;
  }
  .subtitle {
    padding: 0 0px 50px 0;
    font-size: 140px;
  }
  .info {
    padding: 100px 0;
  }
  .info__title {
    font-size: 86px;
  }
  .info__content {
    padding: 0 20px 0 20px;
    margin: 0 0 100px 0;
    gap: 20px;
  }
  .color__text {
    font-size: 100px;
    line-height: 1.3;
  }
  .color__gallery-box {
    padding: 50px 10px 50px 10px;
    flex-wrap: wrap;
  }
  .gallery-box__item {
    width: 48%;
  }
  .contacts__title {
    margin: 0 0 40px 0px;
  }
  .contacts__box {
    padding-left: 10px;
    padding-right: 10px;
    gap: 60px;
  }
  .footer {
    padding: 0 0 50px 0;
  }
}
@media (max-width: 1024px) {
  .info {
    padding: 100px 0;
  }
  .info__title {
    font-size: 86px;
    line-height: 1.3;
  }
  .info__content {
    padding: 0 20px 0 20px;
    margin: 0 0 100px 0;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
  }
  .price {
    text-align: center;
    font-size: 32px;
    margin: 0 0 20px 0;
  }
  .form__order {
    padding: 30px 150px;
  }
}
@media (max-width: 800px) {
  .info__title {
    line-height: 1.3;
  }
  .info__content {
    margin: 0 0 50px 0;
  }
  .info__gallery {
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    align-items: center;
  }
  .gallery__item {
    margin: 0 auto;
  }
  .info__list-line {
    font-size: 18px;
    margin: 0 0 10px 0;
  }
  .header {
    padding: 20px 30px 0 30px;
  }
  .menu__btn span {
    box-sizing: content-box;
    border: 1px solid #000000;
  }
  .tittle {
    font-size: 180px;
  }
  .subtitle {
    font-size: 92px;
  }
  .contacts__box {
    display: block;
    text-align: center;
  }
  .contacts__info {
    margin: 0 auto;
  }
  .contacts__headtext {
    margin: 0 0 10px 0;
  }
  .contacts__text-rules {
    margin: 30px auto 50px auto;
  }
  .contacts__form {
    padding-bottom: 20px;
  }
  .textp {
    margin: 15px 0 10px 0;
  }
  .form__input {
    margin: 0 auto;
  }
  .footer {
    padding: 20px 0;
    border: none;
  }
}
@media (max-width: 600px) {
  .form__order {
    font-size: 20px;
    padding: 30px 70px;
  }
}
@media (max-width: 670px) {
  .info__title {
    font-size: 65px;
  }
  .info__content {
    margin: 0 0 30px 0;
    display: flex;
    flex-direction: column;
  }
  .gallery__item {
    margin: 0 auto;
  }
  .info__list-line {
    font-size: 18px;
    margin: 0 0 10px 0;
  }
  .header {
    padding: 20px 30px 0 30px;
  }
  .menu__btn span {
    box-sizing: content-box;
    border: 1px solid #000000;
  }
  .tittle {
    font-size: 180px;
  }
  .subtitle {
    font-size: 92px;
  }
  .order {
    display: block;
    margin: 0 auto;
  }
  .info-list {
    text-align: center;
    margin: 0 auto;
    -moz-column-count: 1;
         column-count: 1;
  }
  .color__text {
    font-size: 55px;
  }
  .color__gallery-box {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    align-items: center;
    justify-items: center;
  }
  .gallery-box__item {
    width: 100%;
    justify-items: center;
  }
}
@media (max-width: 530px) {
  .tittle {
    font-size: 95px;
  }
  .subtitle {
    font-size: 59px;
  }
  .info__title {
    font-size: 44px;
    line-height: 1;
  }
  .color__text {
    font-size: 38px;
  }
  .contacts__headtext {
    font-size: 18px;
  }
  .contacts__text {
    font-size: 18px;
  }
  .form {
    font-size: 18px;
  }
  .form__input::-moz-placeholder {
    font-size: 18px;
  }
  .form__input::placeholder {
    font-size: 18px;
  }
  .form__price {
    font-size: 30px;
  }
}